.pokemon {
  padding: 30px;
}

.card-body {
  text-align: center;
}

.grass {
  background-color: green;
  color: white;
  border-radius: 2px;
}

.poison {
  background-color: purple;
  color: white;
  border-radius: 2px;
}

.fire {
  background-color: red;
  color: white;
  border-radius: 2px;
}

@media (min-width: 800px) {
  .card {
    width: 22.5%;
    padding: 10px;
    border: 1px solid green;
    margin: 1.25%;
  }
}